* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
}

.container {
    max-width: 1800px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header-left img {
    width: 200px;
}

header {
    min-height: 80px;
    background-color: black;
}

.header-right .search {
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;

}
.header-right input {
    height: 38px;
    width: 200px;
    margin-right: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: black;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.hidden {
    display: none;
}

.search .material-icons.button-search {
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.search .material-icons.open-input {
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.header-right {
    display: flex;
}

.header-right .account {
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}



.results {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 50px;
}


.results img.poster {
    position: absolute;
}

.results .scheda {
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 50px;
    width: 312px;
    height: 162px;
    color: #fff;
}

.results img.poster {
    width: 312px;
    height: 162px;
}

.descrizione {
    display: none;
    padding: 10px;
}

.scheda-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.scheda-top h2 {
    font-size: 20px;
    font-weight: 700;
}

.scheda-top h3 {
    font-size: 13px;
    font-weight: 600;
}

.overview {
    padding-top: 10px;
    height: calc(162px - 52px - 60px);
    overflow: hidden;
    font-size: 11px;
    font-weight: 500;
}

.lang img{
    padding: 5px;
    width: 32px;

}

.rating {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: gold;
    font-size: 12px;
}

.results .scheda:hover {
    transform: scale(1.4);
    z-index: 10;
    margin-right: 55px;
    margin-left: 55px;
    transition: all 0.3s;
}

.results .scheda:hover img.poster{
    opacity: 0.2;
    transition: opacity 1s;
}

.results .scheda:hover .descrizione {
    display: block;
}
