* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
}

.container {
    max-width: 1800px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header {
    min-height: 80px;
    background-color: black;
}

.header-right input {
    border-radius: 15px;
    height: 30px;
    width: 300px;
    margin-right: 20px;
    padding-left: 10px;
}

.header-right button {
    height: 30px;
    width: 70px;
}
.results {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 50px;
}


.results img.poster {
    position: absolute;
}

.results .scheda {
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 50px;
    width: 312px;
    height: 162px;
    color: #fff;
}

.results img.poster {
    width: 312px;
    height: 162px;
}

.descrizione {
    display: none;
    padding: 10px;
}

.scheda-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.scheda-top h2 {
    font-size: 20px;
    font-weight: 700;
}

.scheda-top h3 {
    font-size: 13px;
    font-weight: 600;
}

.overview {
    padding-top: 10px;
    height: calc(162px - 52px - 60px);
    overflow: hidden;
    font-size: 11px;
    font-weight: 500;
}

.lang img{
    padding: 5px;
    width: 32px;

}

.rating {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: gold;
    font-size: 12px;
}

.results .scheda:hover {
    transform: scale(1.4);
    z-index: 10;
    margin-right: 55px;
    margin-left: 55px;
    transition: all 0.3s;
}

.results .scheda:hover img.poster{
    opacity: 0.2;
    transition: opacity 1s;
}

.results .scheda:hover .descrizione {
    display: block;
}
